<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.adhcontrolventas" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ADH Control de Ventas</name>
    <description> Aplicación para el control de ventas de la organización Autismo Dejando Huella.</description>
    <author email="info@autismodejandohuella.org" href="https://autismodejandohuella.org">
        Autismo Dejando Huella
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="https://docs.google.com/*" />
    <allow-navigation href="*" />
    <platform name="android">
        <icon src="www/img/android/icon-36-ldpi.png" density="ldpi" />
        <icon src="www/img/android/icon-48-mdpi.png" density="mdpi" />
        <icon src="www/img/android/icon-72-hdpi.png" density="hdpi" />
        <icon src="www/img/android/icon-96-xhdpi.png" density="xhdpi" />
        <icon src="www/img/android/icon-144-xxhdpi.png" density="xxhdpi" />
        <icon src="www/img/android/icon-192-xxxhdpi.png" density="xxxhdpi" />
    </platform>
</widget>
